/* font family definition
 * - add the needed fonts here
 */

@font-face {
  font-family:Open Sans;
  font-style:normal;
  font-weight:400;
  src:url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-regular.eot);
  src:local("Open Sans Regular"),
  local("OpenSans-Regular"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-regular.eot?#iefix) format("embedded-opentype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-regular.woff2) format("woff2"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-regular.woff) format("woff"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-regular.ttf) format("truetype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-regular.svg#OpenSans) format("svg")
}

@font-face {
  font-family:Open Sans;
  font-style:italic;
  font-weight:400;
  src:url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-italic.eot);
  src:local("Open Sans Italic"),
  local("OpenSans-Italic"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-italic.eot?#iefix) format("embedded-opentype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-italic.woff2) format("woff2"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-italic.woff) format("woff"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-italic.ttf) format("truetype"),
 url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-italic.svg#OpenSans) format("svg")
}

@font-face {
  font-family:Open Sans;
  font-style:normal;
  font-weight:600;
  src:url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600.eot);
  src:local("Open Sans SemiBold"),
  local("OpenSans-SemiBold"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600.eot?#iefix) format("embedded-opentype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600.woff2) format("woff2"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600.woff) format("woff"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600.ttf) format("truetype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600.svg#OpenSans) format("svg")
}

@font-face {
  font-family:Open Sans;
  font-style:italic;
  font-weight:600;
  src:url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600italic.eot);
  src:local("Open Sans SemiBold Italic"),
  local("OpenSans-SemiBoldItalic"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600italic.eot?#iefix) format("embedded-opentype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600italic.woff2) format("woff2"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600italic.woff) format("woff"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600italic.ttf) format("truetype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-600italic.svg#OpenSans) format("svg")
}

@font-face {
  font-family:Open Sans;
  font-style:normal;
  font-weight:700;
  src:url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700.eot);
  src:local("Open Sans Bold"),
  local("OpenSans-Bold"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700.eot?#iefix) format("embedded-opentype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700.woff2) format("woff2"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700.woff) format("woff"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700.ttf) format("truetype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700.svg#OpenSans) format("svg")
}

@font-face {
  font-family:Open Sans;
  font-style:italic;
  font-weight:700;
  src:url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700italic.eot);
  src:local("Open Sans Bold Italic"),
  local("OpenSans-BoldItalic"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700italic.eot?#iefix) format("embedded-opentype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700italic.woff2) format("woff2"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700italic.woff) format("woff"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700italic.ttf) format("truetype"),
  url(https://www.uni-due.de/portal/4/WebFonts/open-sans-v15-latin-ext_latin-700italic.svg#OpenSans) format("svg")
}
