body {
	background-color: rgb(42, 72, 110)
}

#header_box {
	height: 100px;
	background-position: 100% 50%;
	background-size: 100%;
}

#project_logo_box a {
	color: white;
}

#ude-logo {
	float: right;
	margin-top: 1ex;
}

.with-icon {
	display: flex;
	flex-direction: row;
}

.with-icon i.fa {
	margin-top: 0.2ex;
	margin-right: 1ex; 
}

li.with-icon i.fa {
	margin-top: 0.5ex;
	margin-right: 1ex; 
}

.alert-between {
	margin-top: 10px; 
	margin-bottom: 10px; 
}

.alert-info a {
	color: #f39c12;
}

.has-feedback .form-control {
    padding-right: 15px;
}