@import "../webjars/chosen/1.8.7/chosen.min.css";

body {
	background-color: rgb(42, 72, 110)
}

#header_box {
	height: 100px;
	background-position: 100% 50%;
	background-size: 100%;
}

#project_logo_box a {
	color: white;
}

#ude-logo {
	float: right;
	margin-top: 1ex;
}

.with-icon {
	display: flex;
	flex-direction: row;
}

.with-icon i.fa {
	margin-top: 0.2ex;
	margin-right: 1ex;
}

li.with-icon i.fa {
	margin-top: 0.5ex;
	margin-right: 1ex;
}

.alert-between {
	margin-top: 10px;
	margin-bottom: 10px;
}

.alert-info a {
	color: #f39c12;
}

.has-feedback .form-control {
	padding-right: 15px;
}

.workflow-step .fa {
    font-family: FontAwesome;
}

/* ---------- Chosen Plug-in ---------- */

.chosen-container-single .chosen-single {
  font-size: 14px;
  line-height: 1.42857143;
  color: #1a171b;
  box-shadow: 0 0 0;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
  border-radius: 0px;
  height: 44px;
  padding: 10px 20px;
}

.chosen-container-single .chosen-single div b {
  background: url(chosen-sprite.png) no-repeat 0 10px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  box-shadow: 0 0 0;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
}

.chosen-container-multi {
  font-size: 14px;
  line-height: 1.42857143;
  color: #1a171b;
  box-shadow: 0 0 0;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #dce4ec;
  border-radius: 0px;
  height: 44px;
  padding: 10px 20px;
}

.chosen-container-multi .chosen-choices { 
  margin: 0;
  padding: 0;
  border: 0;
  background: 0;	
}

/* ---------- MIR Metadata Page ---------- */

.mir_metadata dt {
	width: 42%;
}

.mir_metadata dd {
	width: 48%;
}
